/* Button Customization */

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    font-family: 'Muli', sans-serif;
    font-size: .9rem;
    text-transform: uppercase;
    padding: .5rem 1.35rem;
}

.btn-main {
    color: #fff;
    background-color: #ff7043;
    border-color: #d65128
}

.btn-main.focus, .btn-main:focus {
    color: #fff;
    background-color: #eb5c31;
    border-color: #d65128
}

.btn-main:hover {
    color: #fff;
    background-color: #eb5c31;
    border-color: #d65128
}

.btn-main.active, .btn-main:active, .open>.dropdown-toggle.btn-main {
    color: #fff;
    background-color: #eb5c31;
    border-color: #d65128
}

.btn-main.active.focus, .btn-main.active:focus, .btn-main.active:hover, .btn-main:active.focus, .btn-main:active:focus, .btn-main:active:hover, .open>.dropdown-toggle.btn-main.focus, .open>.dropdown-toggle.btn-main:focus, .open>.dropdown-toggle.btn-main:hover {
    color: #fff;
    background-color: #d65128;
    border-color: #d65128
}

.btn-main.active, .btn-main:active, .open>.dropdown-toggle.btn-main {
    background-image: none
}

.btn-main.disabled.focus, .btn-main.disabled:focus, .btn-main.disabled:hover, .btn-main[disabled].focus, .btn-main[disabled]:focus, .btn-main[disabled]:hover, fieldset[disabled] .btn-main.focus, fieldset[disabled] .btn-main:focus, fieldset[disabled] .btn-main:hover {
    background-color: #ff7043;
    border-color: #ff7043
}

.btn-main .badge {
    color: #ff7043;
    background-color: #fff
}

.btn-support {
    color: #fff;
    background-color: #3f51b5;
    border-color: #344397
}

.btn-support.focus, .btn-support:focus {
    color: #fff;
    background-color: #27368a;
    border-color: #262f63
}

.btn-support:hover {
    color: #fff;
    background-color: #27368a;
    border-color: #2c3985
}

.btn-support.active, .btn-support:active, .open>.dropdown-toggle.btn-support {
    color: #fff;
    background-color: #27368a;
    border-color: #262f63
}

.btn-support.active.focus, .btn-support.active:focus, .btn-support.active:hover, .btn-support:active.focus, .btn-support:active:focus, .btn-support:active:hover, .open>.dropdown-toggle.btn-support.focus, .open>.dropdown-toggle.btn-support:focus, .open>.dropdown-toggle.btn-support:hover {
    color: #fff;
    background-color: #344397;
    border-color: #262f63
}

.btn-support.active, .btn-support:active, .open>.dropdown-toggle.btn-support {
    background-image: none
}

.btn-support.disabled.focus, .btn-support.disabled:focus, .btn-support.disabled:hover, .btn-support[disabled].focus, .btn-support[disabled]:focus, .btn-support[disabled]:hover, fieldset[disabled] .btn-support.focus, fieldset[disabled] .btn-support:focus, fieldset[disabled] .btn-support:hover {
    background-color: #3f51b5;
    border-color: #344397
}

.btn-support .badge {
    color: #3f51b5;
    background-color: #fff
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236
}

.btn-warning.focus, .btn-warning:focus {
    color: #fff;
    background-color: #ec971f;
    border-color: #985f0d
}

.btn-warning:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512
}

.btn-warning.active, .btn-warning:active, .open>.dropdown-toggle.btn-warning {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512
}

.btn-warning.active.focus, .btn-warning.active:focus, .btn-warning.active:hover, .btn-warning:active.focus, .btn-warning:active:focus, .btn-warning:active:hover, .open>.dropdown-toggle.btn-warning.focus, .open>.dropdown-toggle.btn-warning:focus, .open>.dropdown-toggle.btn-warning:hover {
    color: #fff;
    background-color: #d58512;
    border-color: #985f0d
}

.btn-warning.active, .btn-warning:active, .open>.dropdown-toggle.btn-warning {
    background-image: none
}

.btn-warning.disabled.focus, .btn-warning.disabled:focus, .btn-warning.disabled:hover, .btn-warning[disabled].focus, .btn-warning[disabled]:focus, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning.focus, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning:hover {
    background-color: #f0ad4e;
    border-color: #eea236
}

.btn-warning .badge {
    color: #f0ad4e;
    background-color: #fff
}

/*# sourceMappingURL=bootstrap.min.css.map */