body {
    margin: 0;
}

.nav {
    display: block;
    background-color: whitesmoke;
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1008;
    top: 0;
    right: 0;
    overflow-x: hidden;
    box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.08);
    transition: 0.5s;
    padding: 0;
}

.nc-wrap {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 3rem 4rem;
}

#closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none;
    color: #232323;
}

#logo {}

ul {
    padding: 0;
    margin: 6rem 0;
}

li {
    list-style-type: none;
    overflow: hidden;
    /* margin-bottom: .7rem; */
    padding: 0;
}

#link1, #link2, #link3 {
    font-family: 'Arimo', sans-serif;
    color: #232323;
    font-size: .84rem;
    font-weight: 550;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-decoration: none;
}

#link1:hover, #link2:hover, #link3:hover, #s-link.active {
    color: orangered;
}

.social-links {
    display: flex;
    justify-content: center;
    padding: 0;
}

#twi, #in {
    color: #fa6800 !important;
    padding: 0;
    font-size: 2rem !important;
    text-decoration: none;
    margin: 0 1rem;
}

#twi:hover, #in:hover {
    color: #5a5a5a !important;
}

#menu-toggle {
    float: right;
    z-index: 1000;
    position: fixed;
    top: 40px;
    right: 50px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 0;
}

#toggle {
    position: relative;
    display: inline-block;
    width: 27px;
    height: 3px;
    color: #1b212c;
    font: bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent: -55px;
    background: #232323;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    z-index: 100;
}

#toggle::before {
    content: '';
    width: 40px;
    height: 3px;
    background: #232323;
    position: absolute;
    left: 0;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    top: -9px;
    z-index: 99;
}

#toggle::after {
    content: '';
    width: 40px;
    height: 3px;
    background: #232323;
    position: absolute;
    left: 0;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    bottom: -9px;
    z-index: 101;
}

/* home */

.main {
    transition: margin-right .5s;
    height: 100%;
}

/* about */

#about {
    background-color: #f8f8f9;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
}

/* services */

#services {
    padding: 6rem 0;
}

/* contact */

/* footer */

.footer {
    background-color: #232323;
    padding: 2rem;
}

#copyright {
    width: 100%;
    /* text-align: left; */
    /* margin-top: 3rem; */
    /* padding: 0 15px; */
}

.info {
    font-family: 'Arimo', sans-serif;
    font-size: 1rem;
    color: white;
    /* margin-bottom: 0.75rem; */
}

#website {
    color: #fff;
}