/* html {
    scroll-behavior: smooth;
} */

body {
    margin: 0;
}

.nav {
    display: block;
    background-color: whitesmoke;
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1008;
    top: 0;
    right: 0;
    overflow-x: hidden;
    box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.08);
    transition: 0.5s;
    padding: 0;
}

.nc-wrap {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 3rem 4rem;
}

#closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none;
    color: #232323;
}

#logo {
    margin-top: 2rem;
}

ul {
    padding: 0;
    margin: 6rem 0;
}

li {
    list-style-type: none;
    overflow: hidden;
    /* margin-bottom: .7rem; */
    padding: 0;
}

#link1, #link2, #link3 {
    font-family: 'Arimo', sans-serif;
    color: #232323;
    font-size: .84rem;
    font-weight: 550;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-decoration: none;
}

#link1:hover, #link2:hover, #link3:hover, #s-link.active {
    color: orangered;
}

.social-links {
    display: flex;
    justify-content: center;
    padding: 0;
}

#twi, #in {
    color: #fa6800 !important;
    padding: 0;
    font-size: 2rem !important;
    text-decoration: none;
    margin: 0 1rem;
}

#twi:hover, #in:hover {
    color: #5a5a5a !important;
}

#menu-toggle {
    float: right;
    z-index: 1000;
    position: fixed;
    top: 40px;
    right: 50px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 0;
}

#toggle {
    position: relative;
    display: inline-block;
    width: 27px;
    height: 3px;
    color: #1b212c;
    font: bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent: -55px;
    background: #232323;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    z-index: 100;
}

#toggle::before {
    content: '';
    width: 40px;
    height: 3px;
    background: #232323;
    position: absolute;
    left: 0;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    top: -9px;
    z-index: 99;
}

#toggle::after {
    content: '';
    width: 40px;
    height: 3px;
    background: #232323;
    position: absolute;
    left: 0;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    bottom: -9px;
    z-index: 101;
}

.btn, .btn-light {
    padding: .5rem 2rem;
    /* position: relative;
    z-index: 1000; */
}

.h-line {
    width: 30%;
    border-top: 2px solid #fa6800;
    margin: 0;
}

.h-line2 {
    width: 22%;
    border-top: 2px solid #fff;
    margin: 0;
}

.h-line3 {
    width: 15%;
    border-top: 2px solid #fa6800;
    margin: 0;
}

/* home */

.main {
    transition: margin-right .5s;
    height: 100%;
}

#bg-1 {
    position: relative;
    width: 100%;
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    padding: 0;
    z-index: 0;
}

#bg-1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/background3.jpg');
    background-color: whitesmoke;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.t-half {
    background-color: rgba(10, 0, 0, 0.87);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0;
}

.c-wrap {
    display: flex;
    flex-direction: column;
}

.large {
    font-family: 'Rubik', sans-serif;
    font-size: 4rem;
    text-transform: uppercase;
    color: #fa6800;
}

.white-text {
    color: #ddd;
}

/* about */

#about {
    background-color: #f8f8f9;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
}

.about-info {
    display: flex;
    flex-direction: column;
    padding: 7rem 4rem;
}

.about-text {
    font-family: 'Questrial', sans-serif;
    color: #4e4e4e;
    font-size: 1.25rem;
    font-weight: 550;
}

.about-why {
    padding: 7rem 5rem;
    background-color: #fa6800;
}

.a-w {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 3rem 0;
}

.unit {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 2rem 0;
}

.unit-2 {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.h-wrap2 {
    width: 100%;
}

.heading2 {
    font-family: 'Arimo', sans-serif;
    font-size: 1.75rem;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 0.5rem;
}

.heading3 {
    font-family: 'Arimo', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: capitalize;
    color: #eee;
}

.word {
    font-family: 'Questrial', sans-serif;
    color: #f2f2f2;
    font-size: 1.2rem;
    font-weight: 550;
    line-height: 1.45rem;
}

.logo-text {
    font-family: 'Arimo', sans-serif;
    color: #ddd;
    font-size: 1.5rem;
    font-weight: 550;
    text-transform: uppercase;
    letter-spacing: .025em;
}

/* services */

#services {
    padding: 6rem 0;
}

.mt {
    margin-top: 6rem;
}

.ss-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4rem 0 0 0;
}

.s-unit {
    display: flex;
    /* flex-direction: column; */
    /* align-content: center; */
    /* justify-content: center; */
    padding: 0 2rem;
}

.s-image {
    /* height: fit-content; */
}

/* portfolio */

#portfolio {
    background-color: #f8f8f9;
    padding: 7rem 0 0 0;
}

.h-wrap {
    /* text-align: center; */
    margin-bottom: 2.5rem;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    padding: 1em 0 2em;
    max-width: 100%;
    text-align: center;
}

.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px;
    min-width: 300px;
    max-width: 480px;
    max-height: 360px;
    width: 49%;
    background: #fff;
    text-align: center;
    cursor: pointer;
    box-shadow: 1px 4px 10px 0px rgba(0, 0, 0, 0.15);
}

.grid figure img, .screen {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 1;
}

.grid figure figcaption {
    padding: 1.5em;
    color: #fff;
    font-size: 1em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before, .grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption, .grid figure figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.grid figure figcaption>a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h3 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid figure {
    font-weight: 600;
}

h3 {
    font-family: 'Questrial', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    color: purple;
}

#m-link {
    font-family: 'Questrial', sans-serif !important;
    font-size: .85rem !important;
}

.grid figure h3, .grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}

figure.effect-zoe figcaption {
    top: auto;
    bottom: 0;
    padding: 1em;
    height: 3.75em;
    background: #fff;
    color: #232323;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

figure.effect-zoe h3 {
    float: left;
}

figure.effect-zoe p.icon-links a {
    float: right;
    color: #232323;
    font-size: 1.4em;
}

figure.effect-zoe:hover p.icon-links, figure.effect-zoe:hover p.icon-links {
    color: #232323;
}

figure.effect-zoe p.description {
    position: absolute;
    bottom: 6em;
    padding: 2em;
    color: #fff;
    text-transform: none;
    font-size: 92%;
    opacity: 0;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
    -webkit-backface-visibility: hidden;
    /* Fix for Chrome 37.0.2062.120 (Mac) */
}

figure.effect-zoe h3, figure.effect-zoe p.icon-links a {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0);
}

figure.effect-zoe p.icon-links a {
    display: inline-block;
    padding: 8px 10px;
    font-family: 'feathericons';
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

figure.effect-zoe h3 {
    display: inline-block;
}

figure.effect-zoe:hover p.description {
    opacity: 1;
}

figure.effect-zoe:hover figcaption, figure.effect-zoe:hover h3, figure.effect-zoe:hover p.icon-links a {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.effect-zoe:hover h3 {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

figure.effect-zoe:hover p.icon-links a:first-child {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.controls-wrap {
    background-color: grey;
    height: 2rem;
    width: 2.5rem;
    text-align: center;
    line-height: 2rem;
}

#pip {
    color: white;
    font-size: 30px;
}

#c-line {
    border: 2px solid #232323;
    margin: 0;
}

.asd {
    padding: 2rem 1.5rem;
    text-align: left;
}

.partners {
    background-color: rgb(252, 252, 237);
    margin: 6rem 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.p-text-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232323;
    padding: 2rem 0;
}

.p-logo-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5rem 3rem;
}

.l-wrap {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.partner-logo {
    width: 55%;
}

.partner-logo2 {
    width: 60%;
}

.partner-logo3 {
    width: 65%;
}

.partner-logo4 {
    width: 100%;
}

/* contact */

#contact {
    background-color: rgb(235, 235, 235);
    display: flex;
    flex-wrap: wrap;
    padding: 6rem 0;
}

.elements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
}

.heading-wrap {
    width: 100%;
}

.form-section {
    padding: 0 2rem 0 0;
    margin-top: 4rem;
}

.ad-section {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 2rem;
    margin-top: 4rem;
}

.heading {
    font-family: 'Arimo', sans-serif;
    font-size: 1.75rem;
    font-weight: 550;
    text-transform: capitalize;
    color: #232323;
    margin-bottom: 0.5rem;
}

.caption {
    font-family: 'Arimo', sans-serif;
    font-size: 1.15rem;
    text-transform: capitalize;
    color: #fa6800;
}

.text3 {
    font-family: 'Questrial', sans-serif;
    font-size: .95rem;
    color: #4e4d4d;
}

#qr-code {
    width: 75%;
}

.material-icons {
    font-size: 30px !important;
    color: #232323;
    position: relative;
}

.form-control2 {
    display: block;
    width: 100%;
    height: calc(1.5em + 1rem + 9px);
    padding: .5rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6f8080;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #fff;
    border-radius: .3rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

textarea {
    height: 250px !important;
}

/* footer */

.footer {
    background-color: #232323;
    padding: 3rem 0 2rem 0;
}

.ft-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
}

.top {
    margin-top: 2.5rem;
}

.navigation-links {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.social-links2 {
    display: flex;
    justify-content: flex-start;
    padding: 0;
}

.short-link {
    font-family: 'Heebo', sans-serif;
    font-size: 1rem;
    color: grey;
    text-decoration: none;
}

.short-link:hover {
    color: #fa6800;
    text-decoration: none !important;
}

.l-line {
    border: 1px solid grey;
    margin: 0 0 .5rem 0;
    width: 50%;
}

.link-text, .link-text2 {
    font-family: 'Arimo', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 0.75rem;
}

.link-text {
    color: whitesmoke;
}

.link-text2 {
    color: #fa6800;
}

.fab {
    font-size: 1.3rem !important;
}

.icon-link {
    color: #fa6800 !important;
    padding: 0;
    text-decoration: none;
    margin-top: 0.5rem;
    margin-right: 1.5rem;
}

.ring {
    text-align: center;
    line-height: 3rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: 2px solid #fa6800;
}

.icon-link:hover {
    color: #5a5a5a !important;
}

#copyright {
    width: 100%;
    text-align: left;
    margin-top: 3rem;
    padding: 0 15px;
}

.info {
    font-family: 'Arimo', sans-serif;
    font-size: .95rem;
    color: wheat;
    /* margin-bottom: 0.75rem; */
}

#website {
    color: #fa6800;
}