body {
    background-color: white;
    margin: 0;
}

.nav-i {
    display: block;
    background-color: #bcbcd1;
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    overflow-x: hidden;
    box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.15);
    padding: 0;
    -webkit-transform: translate3d;
    -moz-transform: translate3d;
    -o-transform: translate3d;
    -ms-transform: translate3d;
    transform: translate3d;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

#nc-wrap {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 3rem 3.5rem;
}

#closebtn {
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none;
    color: #232323;
}

#menu-toggle {
    float: right;
    position: fixed;
    top: 20px;
    right: 30px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 0;
    z-index: 100;
}

#toggle {
    position: relative;
    display: inline-block;
    width: 22px;
    height: 3px;
    color: #1b212c;
    font: bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent: -55px;
    background: #232323;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

#toggle::before {
    content: '';
    width: 32px;
    height: 3px;
    background: #232323;
    position: absolute;
    left: 0;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    top: -8px;
}

#toggle::after {
    content: '';
    width: 32px;
    height: 3px;
    background: #232323;
    position: absolute;
    left: 0;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    bottom: -8px;
}

#logo {
    margin-top: 4rem;
    width: 95%;
}

ul {
    padding: 0;
    margin-top: 3rem;
}

li {
    list-style-type: none;
    overflow: hidden;
    /* margin-bottom: .7rem; */
    padding: 0;
}

#link1, #link2, #link3 {
    font-family: 'Arimo', sans-serif;
    color: #1b212c;
    font-size: .84rem;
    font-weight: 550;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-decoration: none;
}

#link1:hover, #link2:hover, #link3:hover, #s-link.active {
    color: #f7e602;
}

/* 
hr {
    border: 1px solid grey;
} */

.btn {
    font-family: 'Muli', sans-serif;
    font-size: .9rem;
    text-transform: uppercase;
    padding: .5rem 1.35rem !important;
}

.btn-outline-success {
    color: #016868;
    border-color: #016868;
}

.btn-outline-success:hover {
    background-color: #016868;
}

/* Home */

#home {
    position: relative;
    width: 100%;
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    padding: 7rem 0;
    z-index: 0;
    background-color: #f8f8f9;
}

#home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../svgs/background4.svg');
    background-color: #f8f8f9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.h-div, .h-div2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    top: 3rem;
}

.h-div2 {
    /* top: 8rem; */
}

.half {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    /* align-items: center; */
    justify-content: center;
}

.h-logo {
    position: absolute;
    top: 40px;
    left: 150px;
    width: 180px;
}

/* 
.l-wrap {
    position: relative;
    bottom: 8rem;
} */

.h-text, .h-text2 {
    font-family: 'Muli', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #041531;
    line-height: 1.2;
}

.h-text2 {
    font-size: 2.3rem;
}

ul.b-points {
    list-style-type: none;
    position: relative;
    margin-top: 0;
    margin-left: 1rem;
}

ul.b-points>li {
    margin-left: 2rem;
    padding-bottom: 6px;
}

ul.b-points>li:before {
    content: ' ';
    background: #00a450;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 4px solid #00a450;
    left: 4px;
    width: 10px;
    height: 10px;
    z-index: 400;
    margin-top: .55rem;
}

.points {
    font-family: 'Arimo', sans-serif;
    font-size: 1.2rem;
    color: #285657;
    margin-bottom: 0;
}

.highlight2 {
    color: #95b903;
}

.highlight2a {
    color: #95b903;
    font-weight: 600;
    font-size: 2rem;
    font-family: 'Arimo', sans-serif;
    letter-spacing: .05rem;
}

.btn-div {
    display: flex;
    justify-content: flex-start;
}

.digital-wallet {
    width: 60%;
}

.hassle-free {
    width: 90%;
}

.prompt-delivery {
    width: 95%;
}

/*About */

#about {
    background-color: #fff;
    padding: 6rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.caption-div {
    width: 100%;
    text-align: center;
    margin-bottom: 5rem;
}

hr.red-line {
    display: inline-block;
    border: 1px solid #ec6b33;
    margin: 0;
    width: 200px;
    position: relative;
    bottom: 10px;
}

.display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bold {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* padding: 0 2rem; */
}

.heading {
    font-family: 'Muli', sans-serif;
    font-size: 2.25rem;
}

.heading2a {
    font-family: 'Questrial', sans-serif;
    font-size: 2rem;
    color: #fff;
    font-weight: 600;
    letter-spacing: .25rem;
}

.heading2b, .heading2c {
    font-family: 'Muli', sans-serif;
    font-size: 1.65rem;
    text-transform: uppercase;
    color: #016868;
    font-weight: 600;
    letter-spacing: .1rem;
    margin-bottom: 0;
}

.heading2c {
    text-transform: capitalize;
    font-size: 1.85rem;
}

.heading2 {
    font-family: 'Questrial', sans-serif;
    font-size: 1.5rem;
}

.heading3 {
    font-family: 'Muli', sans-serif;
    font-size: 1.1rem;
    color: #285657;
    font-weight: 600;
    margin-bottom: 0;
}

a.terms {
    color: #95b903;
}

a.terms:hover {
    color: #95b903;
    text-decoration: none;
    opacity: .6;
}

.highlight {
    font-size: 1.65rem;
    color: #95b903;
}

.highlight3 {
    font-size: 1.65rem;
    color: #016868;
}

.mi {
    text-align: center;
    margin: 1.5rem;
    width: 100%;
}

.main-image {
    width: 72%;
}

.steps {
    padding: 2rem;
    margin-top: 4rem;
}

ul.timeline {
    list-style-type: none;
    position: relative;
    margin-top: 1rem;
}

ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    top: 4px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline>li {
    margin: 0;
    padding-left: 28px;
    padding-bottom: 10px;
}

ul.timeline>li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #95b903;
    left: -9px;
    width: 20px;
    height: 20px;
    z-index: 400;
    margin-top: .2rem;
}

/* services */

#services {
    background-color: #f8f8f9;
    padding: 6rem 0 1rem 0;
}

.s-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10rem;
}

.serv-half {
    display: flex;
    flex-direction: column;
    padding: 1rem 3.5rem;
    justify-content: center;
}

.h-half {
    width: 100%;
    text-align: center;
}

.s-text {
    font-family: 'Muli', sans-serif;
    font-size: 2.25rem;
    color: #ec6b33;
    line-height: 1.1;
}

.heading-s2 {
    font-family: 'Questrial', sans-serif;
    font-size: 1.75rem;
    line-height: 1.25;
}

.service-image {
    width: 85%;
}

.service-image2 {
    width: 75%;
}

.partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.blue {
    background-color: #016868;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.partners-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.5rem 1rem;
}

.pl-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    text-align: center;
}

.p-logo {
    width: 50%;
}

.p-logo2 {
    width: 60%;
}

.p-logo3 {
    width: 70%;
}

.p-logo4 {
    width: 40%;
}

.p-logo5 {
    width: 45%;
}

/* App */

#app {
    background-color: #d4d9df;
    padding: 8rem 0;
}

.m-mockup2 {
    width: 57%;
}

.gen-text {
    font-family: 'Questrial', sans-serif;
    font-size: 1.5rem;
    color: #1b212c;
}

/* contact */

#contact {
    padding: 7rem 0;
}

.h-div2a {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.c-1 {
    display: flex;
    flex-direction: column;
}

.c-ways {
    display: flex;
    justify-content: space-around;
    padding: 1rem 2rem;
}

.fab, .fas {
    font-size: 1.8rem !important;
}

.icon-link {
    color: #016868 !important;
    padding: 0;
    text-decoration: none !important;
    margin: 1rem 1.5rem;
    margin-bottom: 0;
    text-align: center;
}

.ring {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    background-color: #d4d9df;
}

.icon-link:hover {
    color: #95b903 !important;
}

.material-icons {
    color: #ec6b33;
}

.address {
    display: flex;
    justify-content: flex-end;
}

.caption {
    font-family: 'Muli', sans-serif;
    font-size: .93rem;
    font-weight: 600;
    text-transform: capitalize;
    color: #016868;
}

.text {
    font-family: 'Heebo', sans-serif;
    font-size: .92rem;
    color: #4e4d4d;
}

/* footer */

.footer {
    background-color: #232323;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.35rem;
}

.sub-group {
    display: flex;
    width: fit-content;
}

.info {
    font-family: 'Arimo', sans-serif;
    font-size: .92rem;
    color: white;
    margin: 0;
}

a.low-link {
    color: #039b9b;
    text-decoration: none;
}

a.low-link:hover {
    color: #039b9b;
    text-decoration: none;
    opacity: .6;
}

/* login */

.login-backdrop {
    position: relative;
    width: 100%;
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    padding: 0;
    z-index: 0;
}

.login-backdrop::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/background-image.jpg');
    background-color: whitesmoke;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.whole {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 3rem 0;
}

.btn-grad {
    background-image: linear-gradient(to right, #e52d27 0%, #b31217 51%, #e52d27 100%)
}

.btn-success {
    color: #fff;
    background-image: linear-gradient(to right, #68ec3e 0%, #68ec3e 45%, #28a745 100%);
    border-color: transparent;
}

.btn-success:hover {
    background-position: right center;
}

.other-half {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #44e644d7;
    padding: 3rem 10rem;
    text-align: center;
}

form {
    width: 50%;
}

.form-control {
    height: calc(1.5em + 1rem + 2px);
    padding: .5rem 1rem;
    font-size: 1rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.l-ht {
    font-family: 'Arimo', sans-serif;
    color: #27a444;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .05em;
}

.b-text {
    font-family: 'Arimo', sans-serif;
    font-size: .9rem;
    color: #4e4d4d;
}

a.l-info {
    font-weight: 600;
    text-decoration: none;
    color: #95b903;
}

a.l-info:hover {
    opacity: .6;
}

.white {
    font-family: 'Questrial', sans-serif;
    color: white;
    font-size: 1.35rem;
    line-height: 1.3;
}

.ll-wrap {
    width: 100%;
}

#l-logo {
    width: 65%;
}

/* start */

.s-half {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #44e644d7;
    padding: 3rem 10rem;
    text-align: center;
}

#s-logo {
    width: 70%;
}

@media only screen and (max-width: 1025px) {
    .v-line {
        display: none;
    }
    #home {
        height: fit-content;
        /* min-height: 150px; */
    }
}

@media (max-width: 767.98px) {
    form {
        width: 80%;
    }
    .other-half {
        padding: 2rem;
    }
    .login-backdrop {
        height: fit-content;
    }
}